h1{
    font-size: 18px;
    font-weight: 400px;
}
h2{
    font-size: 15px;
    color: rgb(71 85 105);
    font-weight: 400;
}


.section-content{
  flex: 1;
  display: flex;
  flex-direction: column;
}

form{
  flex: 1;
  display: flex;
  flex-direction: column;
}

div.formSection, .form-subsection{
    display:flex;
    justify-content: space-between;
    gap: 10px;
}
div.formSection.skills{
    align-items: end;
}

span.input{
    display:flex;
    flex-direction: column;
}
    
div.formSection > .input,
.form-subsection > .input,
.form-subsection {
    flex: 1 1 0;   /* grow if needed, but also shrink */
    min-width: 0;
}

div.formSection{
    margin-top: 10px;
}

.textarea-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

label{
    font-size: 15px;
    margin-bottom: 5px;
}
input{
    height: 32px;
}
input,textarea{
    border: solid rgb(226, 232, 240) 1px;
    border-radius: 5px;
    padding: 0 8px;
}
textarea{
    flex: 1;
    padding: 10px;
    resize: none;
    min-height: 0;
}

span.skill{
    flex-grow: 1;
}
span.tools{
    flex-grow: 4;
}
button.add{
    margin: 20px auto;
}

.delete span{
    display: flex;
    align-items: center;
    justify-content: center;
}
button.delete{
    background-color: rgb(239 68 68);
    border-radius: 5px;
    flex-grow: 0;
    height: 32px;
    aspect-ratio: 1;
}

.entryMgmt{
    margin-top: 15px;
}