
*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.logo{
  font-size: 30px;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
}

button{
  font-family: "Noto Sans", sans-serif;
  
}
button.toggle-preview{
  padding: 7px 30px; 
  background-color: black;
  color: white;
  font-weight: 500;
}
#content{
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
}
#content.two-columns{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: start;
}